@model Idm.OauthRequest.OpenIdConnectLoginRequest
@{
  ViewData["Title"] = "Login";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card m-auto mt-20 w-96 bg-base-200 border border-base-300 rounded-box">
  <figure>
    <form asp-action="Login" asp-controller="Home" method="post">
      <input type="hidden" asp-for="RedirectUri" />
      <input type="hidden" asp-for="Code" />
      <input type="hidden" asp-for="Nonce" />

      @for (int i = 0; i < Model.RequestedScopes.Count; i++)
      {
        <input type="hidden" asp-for="RequestedScopes[i]" />
      }
      <fieldset class="m-auto fieldset bg-base-200 w-xs p-4">
        <legend class="fieldset-legend">Login</legend>

        <label class="label" for="user-name">Email</label>
        <input type="email" class="input" placeholder="Email" id="user-name" asp-for="UserName" />

        <label class="label" for="user-password">Password</label>
        <input type="password" class="input" placeholder="Password" id="user-password" asp-for="Password" />

        <div className="text-primary">
          <a class="right-full" href="#">
            <span
              className="text-sm  inline-block  hover:text-primary hover:underline hover:cursor-pointer transition duration-200">
              Forgot Secret Code?
            </span>
          </a>
        </div>

        <input type="submit" class="btn btn-neutral mt-4" formaction="Login" value="Login" />
        <a class="btn" href="#">
          <input type="submit" formaction="GoogleLogin" value="Login with Google" />
        </a>
      </fieldset>
    </form>
  </figure>
  <div class="card-body">
    <div class="card-actions justify-end">
      <p class="pass-link">
        <a href="#" style="display: none;">Lost your password?</a>
        @foreach (var i in Model.RequestedScopes)
        {
          <span class="badge badge-success text-base-content/60 flex items-center gap-2 text-xs">@i &nbsp;</span>
        }
      </p>
    </div>
  </div>
</div>